// Please try to maintain the same code style as outlined here:
// https://github.com/lintelio/lintel/blob/master/CONTRIBUTING.md

@import 'notifications-vars';
@import 'notifications-functions';
@import 'notifications-mixins';

// Notifications
// -------------
.notifications {
  max-height: calc(100vh - #{$cushion-base});
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: $cushion-base;
  right: 0;
  z-index: $notification-z-index;
}


// Base
// ----
.notification {
  background-color: $notification-bg;
  border: 1px solid $notification-border;
  border-radius: $notification-border-radius;
  color: $notification-text;
  cursor: pointer;
  font-size: $notification-font-size;
  padding: $notification-padding-y ($notification-padding-x * 2) $notification-padding-y $notification-padding-x;
  position: relative;
  margin-bottom: $notification-margin-y;
  margin-right: $cushion-base;
  @if $notification-text-shadow {
    text-shadow: $notification-text-shadow;
  }
  width: $notification-width;
}

.notification-title,
.notification-body {
  &:first-letter {
    text-transform: uppercase;
  }
}

.notification-title {
  font-size: $notification-title-font-size;
  margin: 0 0 $notification-title-margin-y;
}

.notification-body {
  margin: 0;
}

.notification-close {
  background: none;
  border: 0;
  font-size: $notification-close-font-size;
  line-height: 1;
  padding: 0;
  position: absolute;
  right: $notification-close-padding-y;
  top: $notification-close-padding-y;
  text-align: right;
}


// Responsive
// ----------
@media screen and (max-width: $screen-sm-max) {
  .notifications {
    left: $cushion-base;
  }

  .notification {
    width: auto;
  }
}


// States
// ------
// Primary
.notification-primary {
  @include notification-state(
    $bg: $notification-primary-bg,
    $border: $notification-primary-border,
    $text: $notification-primary-text,
    $text-shadow: $notification-primary-text-shadow
  );
}

// Secondary
.notification-secondary {
  @include notification-state(
    $bg: $notification-secondary-bg,
    $border: $notification-secondary-border,
    $text: $notification-secondary-text,
    $text-shadow: $notification-secondary-text-shadow
  );
}

// Error
.notification-error {
  @include notification-state(
    $bg: $notification-error-bg,
    $border: $notification-error-border,
    $text: $notification-error-text,
    $text-shadow: $notification-error-text-shadow
  );
}

// Warning
.notification-warning {
  @include notification-state(
    $bg: $notification-warning-bg,
    $border: $notification-warning-border,
    $text: $notification-warning-text,
    $text-shadow: $notification-warning-text-shadow
  );
}

// Success
.notification-success {
  @include notification-state(
    $bg: $notification-success-bg,
    $border: $notification-success-border,
    $text: $notification-success-text,
    $text-shadow: $notification-success-text-shadow
  );
}

// Info
.notification-info {
  @include notification-state(
    $bg: $notification-info-bg,
    $border: $notification-info-border,
    $text: $notification-info-text,
    $text-shadow: $notification-info-text-shadow
  );
}
